.App {
  background: #d5c3ed;
  margin: 0;
}

.App-logo {
  max-width: 14em;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4em;
  font-size: calc(10px + 2vmin);
}

.App-footer {
  margin: 4em auto 0 auto;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2em;
}
